.back {
    all: unset;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);;
    left: 3.375vh;
    cursor: pointer;
}

.back svg{
    color: var(--red-cptm);
    width: 100%;
    height: auto;
}