.stationCard {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    height: 6.5vh;
    flex-basis: 100%;
    color: var(--black);
    padding: 3.75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stationCard p {
    font-size: 87.5%;
    font-weight: bold;
    flex:1;
    color: var(--text-color);
}

.stationCard button{
    all: unset;
    cursor: pointer;
    margin-left: 3.334dvw;
    color: var(--dark-gray);
    border-radius: 10px;
    width: 4.5dvh;
    height: 4.5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.stationCard svg{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1024px) {
    .stationCard button{
        margin-left: calc(3.334dvw/3);
    }
}