.qrcodeCard {
    width: 77.78dvw;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.25);
    position: absolute;
    background-color: var(--card-background-color);
    z-index: 2;
}

.card {
    width: 100%;
    background-color: var(--red-cptm);
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    height: 6.5vh;
    flex-basis: 100%;
    color: var(--white);
    padding: 3.75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    
}

.data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.25dvh 3.3334dvw;
    gap: 10px;
}

.station {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    height: 6.5vh;
    flex-basis: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data svg {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: auto;
}

.data ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;

}

.operation li{
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 14px;
    color: var(--text-color);
}

.card button{
    outline:none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-left: 3.334dvw;
    background-color: transparent;
    color: var(--white);
    border-radius: 10px;
    width: 3dvh;
    height: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.card svg{
    width: 100%;
    height: auto;
}

.qrcodeUserName {
    font-weight: var(--medium);
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000a4;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.stationName {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    height: 6.5vh;
    flex-basis: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.25dvh 3.3334dvw;
    border-bottom: 1px solid var(--text-color);
    font-weight: var(--semiBold);
}

@media screen and (min-width: 1024px) {
    .qrcodeCard {
        width: auto;
        margin: 0 29.4811dvw;
    }
}