footer {
    background-color: var(--red-cptm);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2%;
    max-width: 100%;
    text-transform: uppercase;
}

.navbar li {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.navbar li {
    color: white;
    padding: 1%;
    font-size: 75%;
}

.navbar li a {
    all: unset;
}

.navbar li button {
    all: unset;
}

.navbar svg {
    font-size: 2.5em;
    cursor: pointer;
    color: white;
}

@media screen and (max-height: 508px) {
    .background_navbar{
        height: 16vh;
    }
}