.openingHours{
    display: flex;
    background-color: var(--header-color-dark);
    color: var(--white);
    text-align: center;
    border-radius: 1rem;
    padding: 9px 8px;
    font-size: 0.8547rem;
    margin-bottom: 12px;
}

.openingHours article{
    width: 100%;
}

.linkRegulation {
    color: var(--text-color);
}

.citizenObservation{
    display: flex;
    flex-direction: column;
    font-size: 0.666666rem;
    margin-bottom: 10dvh;
    gap: 8px;
    color: var(--text-color);
}

.citizenList{
    padding-left: 5dvw;
}

.image {
    display: flex;
    width: 100%;
    height: auto;
}

.title {
    width: 100%;
    color: var(--text-color);
}

.title h1{
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .citizenObservation {
        margin: 0 29.4811dvw;
    }
    .citizenList{
        padding-left: 1dvw;
        font-size: 0.8rem;
    }
}