.openingHours{
    display: flex;
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;
    border-radius: 1rem;
    padding: 9px 8px;
    font-size: 0.8547rem;
}

.openingHours article{
    width: 100%;
}

.citizenObservation{
    font-size: 0.666666rem;
}

.citizenList{
    padding-left: 5dvw;
    font-size: 0.8rem;
}

.image {
    display: flex;
    width: 100%;
    height: auto;
}

.title {
    width: 100%;
}

.title h1{
    text-align: center;
    font-size: larger;
}