.formForgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 16px
}

.formForgot article {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formForgot article input{
    height: 6.5dvh;
    padding: 1.5dvh;
    border-radius: 8px;
    outline: none ;
    object-fit: cover;
    transition:0.5s;
    overflow: hidden;
    box-sizing: border-box;
}

.formForgot article label{
    position:absolute;
    display: flex;
    height: 3.5dvh;
    align-items: center;
    padding: 1.5dvh;
}

.formForgot button {
    background-color: var(--red-cptm);
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    height: 6.5dvh;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    border: none;
    box-shadow: none;
    color: var(--white);
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
    font-size: 20px;
}

.formForgot div {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.formForgot article input:focus ~ label,
.formForgot article input:valid ~ label {
    top: -1.7dvh;
    font-size: 12px;
    color:#333;
}

@media screen and (min-width: 1024px) {
    .formForgot {
        margin: 0 29.4811dvw;
    }
}