* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    gap:16px;
}

.cards {
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 2%
}

.card {
    background-color: #fff;
    width:20vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 4px 4px 12px #aaa;
}

.card img {
    display: static;
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
}

header {
    display: flex;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #e31e26;
    align-items: center; /* Centraliza verticalmente */
    padding: 1%;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: static;
}

.menu h1 {
    margin-left: 26%;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    right: 2%;
    top: 1%;
}

.navbar ul li {
    display: inline-block;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.navbar ul li a {
    color:black;
    font-size:16px;
    text-decoration:none;
}

.modalDialog {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}

.modalDialog.show{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.access_menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
    width: 40vh;
    align-items: center;
}

.access_menu form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.access_menu input{
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    outline: none ;
    padding: 4%;
}

.area_start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.access_menu form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.access_menu input{
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    outline: none ;
    padding: 4%;
}

form [type="submit"]{
    display: block;
    background-color: #DA0000;
    color: white;
    padding: 4%;
    height: 100%;
    border: none;
}

h1 {
    text-align: center;
    margin: 1vh;
}

.access_menu a {
    width: 100%;
}

.access_btn {
    background-color: #DA0000;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.access_btn:hover {
    background-color: rgb(199, 1, 1);
}

.access_logo {
    width: 128px;
    height: 10;
}

.access_logo img{
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;

}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 15vw;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #F6F6F6;
    font-size:12pt;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px #00000036;
    margin-bottom: 3vh;
}

.textfield > label {
    margin-bottom: 1vh;
}