.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
    gap: 14px;
}

.card {
    max-width: 100%;
    background-color: var(--red-cptm);
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
    text-align:center;
    position: relative;
    flex-grow: 1;
    height: 6.5vh;
    flex-basis: 100%;
    color: var(--white);

}