:root {
  /* Colors Variables*/
  --white: #fff;
  --red-cptm: #E31E26;
  --black: #000;
  --eerie-black: #232323;
  --gray-cptm: #f6f6f6;
  --dark-gray: #464646;
  --red: #C63E3E;
  --yellow: #FFCF25;
  --green: #2AA81F;
  --green-citizen: #2EA854;

   /* Bike Colors Variables*/
  --bike-black: black;
  --bike-white: white;
  --bike-gray: gray;
  --bike-yellow: #ffbf00;
  --bike-blue: #1c3ed5;
  --bike-green: #12c015;
  --bike-red: #ce2828;
  --bike-orange: #f35715;
  --bike-brown: #6f2e1e;
  --bike-purple: #8b20ce;
  --bike-pink: #e74c97;

  /* Font Weight Variables*/
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;

  /* Colors Theme*/
  /* Default Or Light */
  --background-color: var(--white);
  --header-color: var(--gray-cptm);
  --text-color: var(--black);
  --link-color: var(--dark-gray);
  --button-color: var(--red-cptm);
  --border-color: var(--dark-gray);
  --card-background-color: var(--white);

  /* Dark */
  --background-dark: var(--dark-gray);
  --header-color-dark: var(--eerie-black);
  --text-color-dark: var(--gray-cptm);
  --link-color-dark: var(--gray-cptm);
  --button-color-dark: var(--red-cptm);
  --border-color-dark: var(--white);
  --card-background-color-dark: var(--eerie-black);
}

button {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-size: 100%;
}

input {
  border-style: none;
  background-color: var(--background-color);
  border: 1.6px solid var(--border-color);
}

input:not(:placeholder-shown) {
  color: var(--text-color);
}

a {
  color: var(--link-color)
}

select {
  background-color: var(--background-color);
  border: 1.6px solid var(--border-color);
  color: var(--text-color);
  font-size: 1rem;
}

body.dark-theme {
  --background-color: var(--background-dark);
  --header-color: var(--header-color-dark);
  --text-color: var( --text-color-dark);
  --link-color: var(--link-color-dark);
  --button-color: var(--button-color-dark);
  --border-color: var(--border-color-dark);
  --card-background-color: var(--card-background-color-dark);

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #333 inset;
    -webkit-text-fill-color: var(--text-color);
  }
}

body.small-font {
  
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.83rem;
  }

  p {
    font-size: 0.83rem;
  }

  a {
    font-size: 0.83rem;
  }

  button {
    font-size: 0.83rem;
  }

  label {
    font-size: 0.83rem;
  }

  select {
    font-size: 0.83rem;
  }

  svg {
    width: 1rem;
    height: auto;
  }
}

body.large-font {
  
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  label {
    font-size: 1.5rem;
  }

  select {
    font-size: 1.5rem;
  }

  svg {
    width: 2.5rem;
    height: auto;
}

}

header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3.375vh 7.5vw;
  word-wrap: none;
  color: var(--border-color);
  background-color: var(--header-color);
}

main {
  padding: 2.5dvh 5.556%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 24px;
}
* {
  margin: 0;
}